body {
  width: 15rem;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
}

p {
  display: inner-flex;
  margin: auto 1rem;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  padding: 5% 8%;
}
